{% extends "home/base.html" %}
{% block content%}
  <h1>About Us</h1>



<p> The developers of this project are a group of Computer Science students attending Central Michigan University: Hailey Werth,
 Zachary McDonald, Zack Saffron, Jalen Gilbert, Brady Granquist, Roger Mawby III,
  and Hunter Francek. All 7 of us are seniors and this is our capstone project for CPS 410, a CMU course centered around Software Engineering.
  Nearly half of our group (Both Zachs and Brady) will be carrying onto CPS 498 where we will continue to iterate on this project and further
  expand its functionality! We have tons of plans that we'd like to implement into this project but simply ran out of time to do so this
  semester.
  <br>
  <br>
 Music is a passion of ours and it was our goal to provide a fun musical experience for users. We wanted to create this project to
 show that machine learning can be used to work with and learn from music thats already been produced, to generate music that's of similar style to
 the original music. Our subject in this project just happened to be one of the
 greatest composers of all time, Franz Liszt.
 <br>
 <br>

 <h4>Future Plans</h4>

<p>We have some really great ideas of things that we'd like to implement in the future. Things like:
<br>
<br>
"Beautifying the website" - In its current form, the website is very basic and lightweight, which is a good thing during the development stage, but we'd
like to make it feel much nicer to use and look a lot prettier by the time we're done with it.
<br>
<br>
Making the AI work with new artists - Liszt is great, but we'd really like to try and expand upon our AI in the future and adjust the model to account
for different types of music, and new artists.
<br>
<br>
Expanding upon our current profile system - At the moment the profile function of our website lacks any significant functionality beyond user registration
and logging in/out. We'd like to change that, and to implement some real functionality with the profile system. Things like allowing users to save
their music onto their profile and interact with other users on the site to share music.
<br>
<br>
We have many other ideas that we've been thinking of but these are just some of the main ones that we'd like to implement in the near future!
</p>


  <figure>
  <img src="https://lh3.googleusercontent.com/vamLOgMv0HTmXe71OkrZjUBgl838h7k7lZG9ASmQyF2WaDyo3FVGtXma3dwWqYDtMo8HDAc8wqk_MAV_3XqOjd3W-vKUdSSoC_LjAklQagcZdv2BLI_fSyeJ1SBILE0FHjg2qHAxMg=w2400"  alt="CMU Logo"  style="width:500px;height:20Spx;">
  <br>
  <br>

  <figcaption> Source: <a href="https://www.cmich.edu/office_president/university_communications/brand/Pages/templates_downloads.aspx">CMU</a> <a href="https://cdn.britannica.com/04/82304050242D7462/FranzLisztoilcanvasHenriLehmannCarnavalet1840.jpg"></a></p></figcaption>
  </figure>


{% endblock content %}
