{% extends "home/base.html" %}
{% block content%}
 <h1>Python Notebook</h1>
  <p> Below is our Python Notebook, which gives a much more detailed explanation of what our code does. <br>
 <a href="https://colab.research.google.com/drive/1Qp_YxhRzqkieyHhvYUlGV5stdeJ_ZufA#scrollTo=4p8LCZC9cimk">(Click here to be taken to Google Colab, where you can run the code yourself!)</a></p>
<iframe src="https://zmcdonald200024.github.io/zmcdonald200024.github.io-index.html/" title="Recreating Liszt Source Code"height=1200 width=700></iframe>
{% endblock content %}

