{% extends "home/base.html" %}

{% block content%}
  <h1>Music Created by our AI</h1>
<!-- music hosted on my google drive, when copying google drive link, change privacy to all on g drive, and modify view in link to preview to use on site -->
<h4>
  Liszt's Original "Waldesrauschen"
</h4>
<iframe
  frameborder="0"
  width="400"
  height="100"
  src="https://drive.google.com/file/d/1TUZnKdvzHVaT_3Tjg1KGqUhdSztnPFp6/preview?usp=sharing">
</iframe>
<h4>
  Our AI's Version of "Waldesrauschen"
</h4>
<iframe
  frameborder="0"
  width="400"
  height="100"
  src="https://drive.google.com/file/d/1mlWoXVYJr9nHTd4kh8ZgXo79u-ZMtv49/preview?usp=sharing">
</iframe>
<h4>
  Liszt's Original "La Campanella"
</h4>
<iframe
  frameborder="0"
  width="400"
  height="100"

 src="https://drive.google.com/file/d/10YRwh5YO9RH27DgQPZA5L9lIfbNOiv3t/preview?usp=sharing">
</iframe>
</iframe>
<h4>
  Our AI's Version of "La Campanella"
</h4>
<iframe
  frameborder="0"
  width="400"
  height="100"

 src="https://drive.google.com/file/d/102qZ7Cx12sguEB_0hLuVCUllkzy9uTif/preview?usp=sharing">
</iframe>

{% endblock content %}
